* {
  font-weight: normal;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

.page-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
}

.cursor-pointer {
  cursor: pointer !important;
}

.header {
  display: flex;
  align-content: center;
  border-bottom: 1px solid #666;
  &__logo {
    width: 40px;
  }
  &__menu {
    display: flex;
    ul {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      li {
        list-style: none;
        padding: 0 1em;
      }
    }
  }
}

.fixed {
  position: fixed !important;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #000;
  background-color: white;
  padding: 2em;
  margin: 0 !important;
  height: 70px;
  line-height: 70px;
  min-height: 70px;
  li {
    padding: 0 1em;
    a {
      text-decoration: none;
      color: #000;
    }
    &.disabled {
      a {
        color: #666;
        text-decoration: none;
      }
    }
  }
}
